.product {
	background-color: #fff;
	border: 1px solid #ddd;
	margin-bottom: 20px;
}

.product .image {
	padding: 10px;
}

.product .image img {
	width: 100px;
	height: 100px;
	display: block;
	margin: auto;
}

.product .details {
	padding: 10px;
}

.product .title {
	font-size: 16px;
	margin: 0;
}

.product .description {
	font-size: 14px;
	margin: 0;
}

.product .price {
	font-size: 16px;
	font-weight: bold;
	margin: 0;
	color: #c00;
}
