<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>Add Inv</title>
    <link rel="stylesheet" href="/static/styles/addinvstyle.css">
    <script type="text/javascript" src="/static/scripts/scripts.js"></script>
</head>
<body>
    <div id="header">
        <img src="static/images/grocery_bag_cartoon.jfif" alt="Header Image" cursor="pointer" onclick="window.location.href='{{url_for('index')}}';">
    Add Inventory
</div>


    <div id="content">
        <form action="/add_inv" method="POST">
            <div>
                <label for="barcode">Barcode:</label><br>
                <input type="text" id="barcode" name="barcode" oninput="addProduct()"><br>

                <input type="hidden" id="ProductBarcode" name="ProductBarcode" readonly>
                <br>
                <label for="ProductName">Product Name:</label><br>
                <textarea class="addinvprodname" type="text" id="name" name="name" readonly>
                </textarea><br/>
                <img src="" id="product-image" alt="">
                <br/>
                <label for="category">Category:</label><br/>
                <input id="category" name="category"><br/>
                <label for="ohqty">Qty to Add:</label><br/>
                <input id="ohqty" name="ohqty"><br/>
                <label for="minqty">Min Qty to Keep:</label><br/>
                <input id="minqty" name="minqty"><br/>
            </div>

            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>
