<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<title>Grocery App</title>
    <link rel="stylesheet" href="../static/styles/style.css">
</head>
<body>
	<div id="header">
		<img src="/static/images/grocery_bag_cartoon.jfif" alt="Header Image">
		Jackson Family<br> Grocery App10
	</div>
	<div id="content">
		<button class="button" id ="barcode" type="button" onclick="window.location.href='{{url_for('addinv')}}';">
            <span></span>Add Inventory</button>		
		<button class="button" type="button" onclick="window.location.href='{{url_for('addtodb')}}';">
				<span></span>Add to DB</button>
		<button class="button" type="button" onclick="window.location.href='useinv.html';">
			<span></span>Use Inventory</button>
			<button class="button" type="button" onclick="window.location.href='{{url_for('list_inv')}}';">
			<span></span>List Inventory</button>
		<button class="button" onclick="window.location.href='qty.html';">
			<span></span>test qty</button>
	</div>
</body>
</html>
